body{
    background-color:#E3E3E3;
}
hr{
    border-color: rgb(187, 180, 179);
    border-top-style: dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 5px;
 
    width: 10%;
}
h1{
    color:#FA255E ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    color:#C60021 ;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color:#C60021 ;
    font-family: 'Courier New', Courier, monospace;
}
.profileImage{
    background-color: #FA255E;
    border-radius: 100em;
}
.profileImage:hover{
    transition: 2.9s;
    background-color: yellow;
    ;
}   